<header>
    {{header}}
    <div>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="bad">bad</a></li>
            <li><a href="portofolio">portofolio</a></li>
        </ul>
    </div>
</header>